202108-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202109-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202110-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202111-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202112-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202201-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202202-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202203-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202204-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
